body {
    margin: 0;
    padding: 0;
    background-color: #AAB4BF;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 450px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    text-align: center;
    position: relative;
}

.image {
    position: absolute;
    top: 5%;
    margin: 0;
}
img {
    height: 250px;
    width: 270px;
    border-radius: 15px;
}

.text-head {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  margin: 0 23px 15px 23px;
  text-align: center;
  font-size: 1.5rem;
}

.text-sub {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  margin: 0 29px 20px 29px;
  text-align: center;
  padding: 0;
  font-size: 15px;
}
h5 { 
    margin: 20px 0 10px 0;
    padding: 0;
    color: hsl(218, 44%, 22%);
}

p {
   color: hsl(220, 15%, 55%);
}